

/* CONTENT --------------------------------------------------------- */


/* CLASS HELPER ---------------------------------------------------- */

.hidden { display: none !important; visibility: hidden; }

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* clear floated elements { */
.clear { clear: both; }

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after { display: block; visibility: hidden; clear: both; width: 0; height: 0; font-size: 0; line-height: 0; content: ' ';  }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* } clear floated elements */

/* CLASS HELPER ---------------------------------------------------- */
